.group:after {
      display: table;
      content: "";
      clear: both;
}
html {
      font-size: 62.5%;
}
body {
      font-size: 1.6rem;
}


a  {
      text-decoration: none;
      color: #BBB;
}


.content-wrap {
      width: 950px;
      margin: 0 auto;
}

.main-header {
}

.top-header {
      border-bottom: 1px solid #DDD;
      padding: 20px;
}
.logo {
      float: left;
      width: 300px;
}
.logo h1 {
      margin: 0;
      font-size: 1.8rem;
      color: #1776F5;
      line-height: 40px;
}
.logo:before {
      margin-right: 10px;
      float: left;
      display: inline-block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      content: 'P';
      color: white;
      background:#1776F5;
      -webkit-border-radius: 50%;
      border-radius: 50%;

}
.search {
        -webkit-appearance: none;
        -webkit-border-radius: 40px;
        border-radius: 40px;
        outline: 0;
        box-shadow: none;
        text-shadow: none;
        border-style: solid;
        border-width: thin;
        border-color: #DDD;
        float: right;
        margin-right: 20px;
       line-height: 30px;
       -webkit-transition:ease-in all 500ms;
}

.search:focus {
      width: 400px;
      -webkit-transition:ease-in all 500ms;
}

::-webkit-input-placeholder {
      font-size: 1.4rem;
      padding-right: 10px;
      margin-left: 20px;
}

.login {
      float: right;
      color: #CCC;
      text-decoration: none;
      font-size: 1.8rem;
      line-height: 40px;
}
.login:hover {
      color: #1776F5;
}
.add-new-post {
      margin-top: 5px;
      margin-left: 20px;
      font-size: 2rem;
      float: right;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      color: white;
      background: #1776F5;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-decoration: none;
}



.main-nav {
      border-bottom: 1px solid #DDD;
/*padding: 20px;*/
}
.main-nav-links {
      list-style: none;
      font-size: 1.4rem;
      margin: 0;
      padding: 0;
      font-weight: 500;
      color: #BBB;
}
.main-nav-links li {
       text-transform: uppercase;
       float: left;
       margin-right: 20px;
       padding: 15px 0;
}


.main-nav-links li a {
      text-decoration: none;
}
.main-nav-links li.active {
      color: #1776F5;
      border-bottom: 3px solid #1776F5;
}


#tech:hover {
      color: #1776F5;
      border-bottom: 3px solid #1776F5;
}

#games:hover {
      color:#50B948;
      border-bottom: 3px solid #50B948;
}

#collections:hover {
      color: #CC55F6;
      border-bottom: 3px solid #CC55F6;
}

#business:hover {
      color:#FF0016;
      border-bottom: 3px solid #FF0016;
}

.day-header {
      text-align: center;
      padding: 20px 0;
}
.day-header h2 {
      text-transform: uppercase;
      font-size: 2rem;
      color: #222;
      margin: 0;
}
.day-header span {
      font-size: 1.4rem;
      color: #AAA;
}


.post {
      padding: 10px;
      height:60px;
      width:100%;
      cursor: pointer;
}
.post:hover {
      -webkit-transition:ease-in all 200ms;
      background: #EEE;
      -webkit-border-radius: 5px;
      border-radius: 5px;
}
.vote-wrap {
      font-size: 1.3rem;
      width: 60px;
      height:20px;
      margin-top:10px;
      float: left;
      text-align: center;
      color:#333;
}

.vote-wrap:hover { 
      -webkit-transition:ease-in all 100ms;
      font-size :1.495rem;
      color:#1478ED;
}
.post-content {
      float: left;
}

.post-content a {
      text-decoration: none;  
}

.post-content h3 a:hover {
      text-decoration: underline;
       color: #BBB;
}

.post-title {
      color: #BBB;
      font-size: 2rem;
      margin: 0;
}
.post-description {
      font-size: 1.7rem;
      color: #999;
      margin: 10px 0 0 0;
}
.post-meta {
      width: 100px;
      float: right;
}
.post-creator {
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-top: 12px;
      border-color: white;
      width: 35px;
      height: 35px;
      float: right;
}
.post-comments {
      margin-left: 30px;
      line-height: 34px;
      float: right;
      margin-top: 12px;
      font-size: 1.6rem;
      color: #BBB;
}






      